<!doctype html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPlanner</title>
    <link rel="stylesheet" href="/static/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script>
    <script data-require="jquery@3.0.0" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
</head>
<body class="is-preload landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">SPlanner</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/tutorial" target="_blank"><h3>Help</h3></a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <section id="one" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>Choose your curriculum</h2>
                </header>
                <form method="post" action="#">
                    <div class="row gtr-uniform gtr-50">
    
                        <!-- Faculty -->
                        <div class="col-12 col-12-xsmall">
                            <select name="Select Faculty" id="faculty" onchange="showfaculty()">
                                <option value="">Select Faculty</option>
                                <option value="human">01 Faculty of Humanity</option>
                                <option value="edu">02 Faculty of Education</option>
                                <option value="fineart">03 Faculty of Fine Art</option>
                                <option value="soc">04 Faculty of Social Sciences</option>
                                <option value="sci">05 Faculty of Science</option>
                                <option value="eng">06 Faculty of Engineering</option>
                                <option value="med">07 Faculty of Medicine</option>
                                <option value="agri">08 Faculty of Agriculture</option>
                                <option value="dent">09 Faculty of Dentistry</option>
                                <option value="phama">10 Faculty of Pharmacy</option>
                                <option value="medtec">11 Faculty of Associated Medical Sciences</option>
                                <option value="nurse">12 Faculty of Nursing</option>
                                <option value="argo">13 Faculty of Agro-Industry</option>
                                <option value="vet">14 Faculty of Veterinary Medicine</option>
                                <option value="accba">15 Faculty of Business Administration</option>
                                <option value="econ">16 Faculty of Economics</option>
                                <option value="arch">17 Faculty of Architecture</option>
                                <option value="masscom">18 Faculty of Mass Communication</option>
                                <option value="polsci">19 Faculty of Political Science and Public Administration</option>
                                <option value="law">20 Faculty of Law</option>
                                <option value="camt">21 Faculty of Collage of Art, Media and Technology</option>
                            </select>
                        </div>
    
                        <!-- Bachelor -->
                        <div class="col-12 col-12-xsmall">
                            <select name="Select Course" id="bachelor" onchange="showbachelor()">
                                <option value="">Select Bachelor</option>
                            </select>
                        </div>
    
                        <!-- Search -->
                        <div class="col-4 col-12-medium"></div>
                        <div class="col-4 col-12-medium">
                            <input type="button" value="Search" class="button primary" id="recive" >
                        </div>
                        <div class="col-4 col-12-medium"></div>
    
                        <!-- course -->
                        <div class="col-12 col-12-xsmall">
                            <select name="" id="course" ></select>
                        </div>
                        
                        <!-- Get start -->
                        <div class="col-4 col-12-medium" ></div>
                        <div class="col-4 col-12-medium" >
                            <input type="button" value="Get Start" class="button primary" id="start">
                        </div>
                        <div class="col-4 col-12-medium"></div>
                    </div>
                </form>
            </div>
            
        </section>
        <section id="footer" class="wrapper style1 special fade-up">
            <!-- head -->
            <div class="content">
                <header class="major">
                    <h2>Import own plan</h2>
                </header>
                <form method="post" action="#">
                    <div class="row gtr-uniform gtr-50">
                        <div class="col-4 col-12-medium"></div>
                        <div class="col-10 col-12-medium">
                        <input class="form-control" type="file" id="inputown" accept=".json">
                        </div>
                        <div class="col-4 col-12-medium"></div>
                        <div class="col-4 col-12-medium">
                            <input type="button" value="Convert" class="button" id="cvown">   
                        </div>
                        <div class="col-4 col-12-medium"></div>
                        
                    <div>
                </form>
            </div>
            
            <br><br><br>
        </section>
    </div>
    <div hidden>
        <textarea name="" id="keybin" cols="100" rows="1" ></textarea>
    </div>



    <!-- Scripts -->
    <script src="/static/css/jquery.min.js"></script>
	<script src="/static/css/jquery.scrolly.min.js"></script>
	<script src="/static/css/jquery.dropotron.min.js"></script>
	<script src="/static/css/jquery.scrollex.min.js"></script>
	<script src="/static/css/browser.min.js"></script>
	<script src="/static/css/breakpoints.min.js"></script>
	<script src="/static/css/util.js"></script>
	<script src="/static/css/main.js"></script>
    <script src="/static/getplan.js"></script>
</body>
</html>