<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <style>table, th, td {border: 1px solid black;}</style>
  <title>Plan</title>
  <link rel="stylesheet" href="/static/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
  <!-- Copyright 1998-2020 by Northwoods Software Corporation. -->
  <meta name="description" content="Vertical swim lanes and pools with collapsible lanes and limited dragging." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>

  <script src="/static/go.js"></script>
  <script id="code"></script>

  <style>
    @media print
    {
      table { page-break-after:auto }
      tr    { page-break-inside:avoid; page-break-after:auto }
      td    { page-break-inside:avoid; page-break-after:auto }
      thead { display:table-header-group }
      tfoot { display:table-footer-group }
    }
    </style>
  
</head>
<body onload="init()">
  <div id="sample">
    <div id="myDiagramDiv" style="border: solid 1px black; width:100%; height:500px;"></div>
      <br>
      <div hidden>
        <textarea id="mySavedModel" style="width:100%;height:100px"></textarea>
      </div>
      <button onclick="load()" hidden>Load</button>
  </div>
  <div class="row gtr-uniform gtr-25">
    <div class="col-1 col-12-medium"></div>
    <div class="col-3 col-12-medium">
      <h4>Fill in the subjects you want to revise</h4>
    </div>

    <div class="col-3 col-12-medium">
      <input type="text" id="shName" placeholder="INPUT101">
    </div>
    <div class="col-2 col-12-xsmall">
      <ul class="actions">
        <li><input type="button" value="Search" class="button" id="shNameSearch"></li>
        <li><input type="button" value="Submit" class="button primary" id="regraph"></li>
      </ul>
    </div>
  </div>
  <br>
  <table id="mytable" hidden style="margin-left:30px;">
    <tr>
      <th>ID</th>
      <th>Shortname</th>
      <th>Name</th>
      <th>Credits</th>
      <th>Prerequisite</th>
      <th>Term</th>
    </tr>
  </table>
  <br>
  <div class="row gtr-uniform gtr-25">
    <div class="col-1 col-12-medium"></div>
    <div class="col-10 col-12-medium">
      <ul class="actions">
        <li><input type="button" value="Add Subject" class="button primary" id="shaddsubject"></li>
        <li id="addsubmit" hidden><input type="button" value="Submit" class="button primary" id="addsubject"></li>
      </ul>
    </div>
    <div id="addsj" hidden>
      <table id="addtable" style="margin-left:30px;margin-right:30px;">
        <tr>
          <th>ID</th>
          <th>Shortname [Key]</th>
          <th>Name</th>
          <th>Credits</th>
          <th>Term</th>
          <th>Grade Type</th>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row gtr-uniform gtr-25">
    <div class="col-1 col-12-medium"></div>
    <div class="col-3 col-12-medium">
      <h4>Edit your grade</h4>
    </div>
    <div class="col-3 col-12-xsmall">
      <select name="Select Term" id="selectTerm">
      </select>
    </div>
    <div class="col-2 col-8-medium">
      <ul class="actions">
        <li><input type="button" value="Search" class="button" id="editGSearch"></li>
        <li id="btnGregraph" hidden><input type="button" value="Submit" class="button primary" id="Gregraph"></li>
      </ul>
    </div>
    <br>
  </div>
  <br>
  <div class="container">
    <section>
      <div class="table-wrapper">
        <table id="editgradetable" hidden>
          <tr>
            <th>ID</th>
            <th>Shortname</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Grade</th>
          </tr>
        </table>
      </div>
    </section>
  </div>
  <br>
  <div class="row gtr-uniform gtr-50">
    <div class="col-1 col-12-medium"></div>
    <div class="col-2 col-12-medium">
      <h4>Show Grade Result</h4>
    </div>
    <div class="col-2 col-8-medium">
      <input type="button" value="Show" class="button primary" id="shGrade">
    </div>
      
  </div>
  <br>
  <div class="container">
    <section>
      <div class="table-wrapper">
        <table id="gradetable" hidden class="alt">
          <tr>
            <th>ID</th>
            <th>Shortname</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Grade</th>
          </tr>
        </table>
      </div>
    </section>
  </div>
  <br>
  <h3>Save own plan to local </h3>
  <input type="button" value="Download" class="button primary" id="downloadPlan">
  
</body>
<script src="/static/css/jquery.min.js"></script>
<script src="/static/css/jquery.scrolly.min.js"></script>
<script src="/static/css/jquery.dropotron.min.js"></script>
<script src="/static/css/jquery.scrollex.min.js"></script>
<script src="/static/css/browser.min.js"></script>
<script src="/static/css/breakpoints.min.js"></script>
<script src="/static/css/util.js"></script>
<script src="/static/plan.js"></script>
<script src="/static/gogo.js"></script>
</html>